# Byte-compiled / optimized files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
